<%- include ('partials/header') %>

<h1>
    <%= title %>
</h1>

<!-- <% if (isActive) { %>
    <p>Active</p>
<% } else { %>
    <p>Inactive</p>
<% } %> -->

<%= new Date() %>

<ul>
    <% for (let i = 0; i < users.length; i++) { %>
        <li><%= users[i].name %></li>

    <% } %>
</ul>

<%- include ('partials/footer') %>